<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="purrluto">
        <meta name="description" content="[RESTRICTED ACCESS.]">
        <title>{{ title }}</title>
        <link href="../css/intern.css{{ nocache }}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    </head>
    <body>
        <!-- top bar -->
        <div class="topbar">
            <img src="../assets/img/parapoplogo.png" height="50px" width="50px"/>
            <span class="lhs">Welcome back, <span class="name">Intern 4.</span></span>
            <span class="rhs">Logout</span>
        </div>

        <!-- chatbox -->
        <div class="chatbox">
            <div class="header">Communications (O9)</div>
            <div class="chats">
                {% for chat in i4chats %}
                    <div class="fullmsg">
                        <p><b>{{ chat.name }}</b> <span class="datetime">{{ chat.date }}, {{ chat.time }}</span></p>
                        <p>{{ chat.msg }}</p>
                    </div>
                    {% if chat.newday %}
                    <div class="divider">- {{ chat.date }} -</div>
                    {% endif %}
                {% else %}
                    <p>FAILED TO FETCH</p>
                {% endfor %}
                <div class="divider">Beginning of messages.</div>
            </div>
        </div>

        <!-- primary -->
        <div class="main">
            <div class="details">
                <details name="page" style="--n: 1" open>
                    <summary>Observations</summary>
                    <div>
                    <p>Reports on Pluto's behavior.</p>
                    {% for report in i4reports %}
                        <p class="title">{{ report.title }}</p>
                        <div class="desc">
                            {% for para in report.desc %}
                                <p>{{ para }}</p>
                            {% endfor %}
                            <p class="subtitle">Notable Events:</p>
                            <ul>
                            {% for event in report.events %}
                                <li>{{ event }}</li>
                            {% else %}
                                <li>Nothing notable.</li>
                            {% endfor %}
                            </ul>
                            <p class="subtitle">Relationships:</p>
                            <ul>
                            {% for rel in report.rels %}
                                <li>{{ rel }}</li>
                            {% else %}
                                <li>No significant developments.</li>
                            {% endfor %}
                            </ul>
                            <p class="subtitle">Additional Notes:</p>
                            <ul>
                            {% for note in report.notes %}
                                <li>{{ note }}</li>
                            {% else %}
                                <li>Nothing notable.</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    </div>
                </details>
                <details name="page" style="--n: 2">
                    <summary>Journal</summary>
                    <div>
                        <p>Pluto's journal entries on the server.</p>
                        {% for entry in i4journals %}
                        <p class="title">{{ entry.no }}</p>
                        <div class="desc">
                            {% for para in entry.desc %}
                                <p>{{ para }}</p>
                            {% endfor %}
                            
                        </div>
                    {% endfor %}
                    </div>
                </details>
                <details name="page" style="--n: 3">
                    <summary>Drawings</summary>
                    <div>
                        <p>Pluto's art. In various books on the server.</p>
                        <p class="title"></p>
                        <div class="description"></div>
                    </div>
                </details>
                <details name="page" style="--n: 4">
                    <summary>Albums</summary>
                    <div>
                        <p>Pluto's albums on the server.</p>
                    </div>
                </details>
            <div id="bg"></div>
            </div>
        </div>
        </div>
    </body>
</html>