<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="purrluto">
        <meta name="description" content="[RESTRICTED ACCESS.]">
        <title>{{ title }}</title>
        <link href="css/style.css{{ nocache }}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    </head>
    <body>
        <!-- primary -->
        <div id="content">
            {{ content | safe }}
        </div>
    </body>
</html>